################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.njsproj
/.vs/loopback-boot/v15
*.sln
